<!--hero.vtl-->
<h2>$hero.getName()</h2>
<h3>Details</h3>
<ul>
  <li>Age: $hero.getAge()</li>
  <li>Ability: $hero.getPower()</li>
  <li>Attack level: $hero.getAttack()</li>
  <li>Defense level: $hero.getDefense()</li>
</ul>
<a href="/squads/$squadID" class="btn btn-primary">Back to $squadID</a>
<!--hero.vtl-->
