<!--index.vtl-->

<div class="row">
  #foreach ($i in $squadArray)
    <div class="col-md-6">
      $squads.get($i).getName()
    </div>
    #end
</div>
<div class="row">
  <a class="btn btn-primary" href="/squads/new">New Squad</a>
</div>
<!--index.vtl-->
