<!--squad-form.vtl-->
<form action="/squad" method="post">
  <label for="name">Squad Name</label>
  <input type="text" name="name" id="name">
  <label for="cause"></label>
  <input type="text" name="cause" id="cause">
  <button type="submit" class="btn btn-primary">Add Squad</button>
</form>
<!--squad-form.vtl-->
