<!--squad.vtl-->
<h1>Your squad:</h1>
<h2>Name: $squad.getName()</h2>
<h2>Cause: $squad.getCause()</h2>
<h2>Heroes: </h2>
  #foreach ($hero in $squad.getHeroes())
  <ul>
    <li>$hero.getName()</li>
    <li>$hero.getAge()</li>
    <li>$hero.getPower()</li>
    <li>$hero.getAttack()</li>
    <li>$hero.getDefense()</li>
  </ul>
  #end
<!--squad.vtl-->
