<!--squad.vtl-->
<h1>Your squad:</h1>
<h2>Name: $squad.getName()</h2>
<h2>Cause: $squad.getCause()</h2>
<h2>Heroes: </h2>
<ul>
  #foreach ($hero in $squad.getHeroes())
    <li><a href="/squads/$squad.getName()/heroes/$hero.getName()">$hero.getName()</a></li>
  #end
</ul>
<!--squad.vtl-->
